<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @user.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

<p>
  <strong>Billing type:</strong>
  <%= @user.billing_type %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @user.start_date %>
</p>

<p>
  <strong>Deadline date:</strong>
  <%= @user.deadline_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @user.end_date %>
</p>

<p>
  <strong>Github url:</strong>
  <%= @user.github_url %>
</p>

<p>
  <strong>Status:</strong>
  <%= @user.status %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
