<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @client.country %>
</p>

<div class="span8">
    <% if @client.projects.any? %>
      <h3>Projects (<%= @client.projects.count %>)</h3>
      <% else %>
      No projects 
      
    <% end %>
  </div>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
