<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>

  <div class="field">
  <%= f.label "Billing Type" %> 
  <%= f.select :billing_type,["tnm","fixed"],{},{:class => 'select_option'}  %>
  </div>

  
  <div id="fixed" style="display:none;"> 
    <%= f.label "Enter total Budget Amount" %>    
   <%= f.text_field :budget_amount%>  
  </div>

  
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
    
  </div>
  <div class="field">
    <%= f.label :deadline_date %><br>
    <%= f.date_select :deadline_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :github_url %><br>
    <%= f.text_field :github_url %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.select :status, [ 'poc', 'kick off','completed']%>
  </div>
  

<% if params[:action] == 'edit' %>
    <div class="field">
    <%= f.label :client_id %><br>
    <%= f.select("client_id", Client.all.collect {|p| [ p.name, p.id ] },{},:disabled => true)%>
    </div>
<% else %>
  <div class="field">
    <%= f.label :client_id %><br>
    <%= f.select("client_id", Client.all.collect {|p| [ p.name, p.id ] }) %>
  </div>
<% end %>
   
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>


<script type="text/javascript">
    $(document).ready(function() {
        $( ".select_option" ).change(function() {
            if($(this).val() == 'fixed') {
               $('#fixed').show();
            } else {
              $('#fixed').hide();
              $()
            
            }
        });
        $( ".select_option" ).trigger('change');
        });
</script>