<h1>Projects</h1>


<%= form_tag projects_path, :method => 'get' do%>
  <table text-align="center" cellspacing="10px" cellpadding="10px">
  <tr>
    <td>Project Name</td>
    <td>Status</td>
    <td>Client Name</td>
    <td></td>
  
  </tr>
  <tr>
    <td><%= text_field_tag :search, params[:search] %></td>
    <td><%= select_tag(:status,options_for_select(['poc','kick off','completed']))%></td>
    <td><%= select_tag(:client_id,
    options_for_select(Client.all.collect {|p| [ p.name, p.id ]})) %></td>
    <td><%= submit_tag "Search", :name => nil , class: "btn btn-primary btn-info"%></td>
  </tr>
  </table>

<% end%>
  

<table text-align="center" border="1px" cellspacing="10px" cellpadding="10px">
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Description</th>
      <th>Billing type</th>
      <th>Start date</th>
      <th>Deadline date</th>
      <th>End date</th>
      <th>Github url</th>
      <th>Status</th>
      <th>Clients</th>
      <th></th>
      <th>Actions</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.code %></td>
        <td><%= project.description %></td>
        <td><%= project.billing_type %></td>
        <td><%= project.start_date %></td>
        <td><%= project.deadline_date %></td>
        <td><%= project.end_date %></td>
        <td><%= project.github_url %></td>
        <td><%= project.status %></td>
        <td><%= Client.find_by_id(project.client_id).name %></td>
        <td><%= link_to 'Show', project ,class: "btn btn-primary btn-success"%></td>
        <td><%= link_to 'Edit', edit_project_path(project) ,class: "btn btn-primary btn-sm btn-warning"%></td>
        <td><%= link_to 'Destroy', project, method: :delete,class: "btn btn-primary btn-sm btn-danger",data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

  </tbody>
 
</table>
 <%= will_paginate %>

<br>

<%= link_to 'New Project', new_project_path %>
